// Button

// scss-lint:disable Indentation SpaceAfterPropertyColon LeadingZero

.button {
    background: $color;
    border: 0;
    color: $opposite-color;
    cursor: pointer;
    display: block;
    font-family: $font;
    font-size: 16px;
    line-height: 1;
    padding: 10px;
    text-align: center;
    transition: all 0.25s ease;
    width: 100px;

    &:hover {
        background: $link-hover-color;
        color: $opposite-color;
        text-shadow: none;
    }
}

.button--alt {
    background: $background-color;
    border: 1px solid $color;
    border-radius: 5px;
    color: $color;
    margin-bottom: 10px;

    &:hover {
        background: $color;
    }
}

.button--hidden {
    display: none;
}
