// CONTAINER

// scss-lint:disable Indentation SpaceAfterPropertyColon SelectorFormat

.container {
    margin: 0 auto;
    max-width: $max-site-width;
    padding: 15px;
}


.flex-container {
    display: flex;
    flex-direction: column;

    @include min-width($above-tablet) {
        border-top: 1px solid $border-color;
        flex-direction: row;
        justify-content: center;
    }
}
