// MAIN CONTENT

// scss-lint:disable Indentation SpaceAfterPropertyColon EmptyRule SelectorFormat

.main {}

    .main__section {

        ul {
            margin-left: 30px;
        }

        .flex-container & {
            border-top: 1px solid $border-color;

            @include min-width($above-tablet) {
                border: 0;
                margin: 10px 20px;
                width: 45%;
            }
        }
    }
